@model linguispark.Models.entity.tblCevirmen
@{
    ViewBag.Title = "cevirmenGuncellemeSayfasi";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Çevirmen Güncelleme Sayfası</h2>

@using (Html.BeginForm("cevirmenGuncelle", "cevirmen", FormMethod.Post))
{
    <div class="form-group">
        <label>CevirmenAdi</label>
        @Html.TextBoxFor(i => i.cevirmenAdi, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(i => i.id)
    <button class="btn btn-primary">Güncelle</button>
}

