@using linguispark.Models.entity
@model List<tblCevirmen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Çevirmen Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Çevirmen Adı</th>
        <th>Sil</th>
        <th>Güncele</th>
    </tr>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.id</td>
                <td>@i.cevirmenAdi</td>
                <td><a href="/cevirmen/cevirmenSil/@i.id" class="btn btn-warning">Sil</a></td>
                <td><a href="/cevirmen/cevirmenGuncellemeSayfasi/@i.id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="/cevirmen/cevirmenEKle" class="btn btn-primary">Çevirmen Ekle</a>
